<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non quisquam maiores nemo magni vero sit aperiam iusto officia! Sint itaque quo nesciunt maiores voluptatum aut, minima impedit dolores vel recusandae esse error deleniti inventore eveniet repudiandae, repellat laboriosam eligendi?</p>
    </div>
</div>